*
!*/
!pom.xml
!*/pom.xml
!*/src/
!*/src/**
!start-backend.sh
!start-worker-standard.sh
!Dockerfile
!worker-standard/Dockerfile

# Never include local Maven build outputs in Docker build contexts.
**/target
**/target/**
