{
  "apiVersion": "v1",
  "kind": "List",
  "items": [
    {
      "apiVersion": "v1", "kind": "ServiceAccount",
      "metadata": { "name": "traefik", "namespace": {{NAMESPACE}} }
    },
    {
      "apiVersion": "rbac.authorization.k8s.io/v1", "kind": "Role",
      "metadata": { "name": "traefik", "namespace": {{NAMESPACE}} },
      "rules": [
        { "apiGroups": [""], "resources": ["services", "secrets"], "verbs": ["get", "list", "watch"] },
        { "apiGroups": ["discovery.k8s.io"], "resources": ["endpointslices"], "verbs": ["get", "list", "watch"] },
        { "apiGroups": ["networking.k8s.io"], "resources": ["ingresses"], "verbs": ["get", "list", "watch"] },
        { "apiGroups": ["networking.k8s.io"], "resources": ["ingresses/status"], "verbs": ["update"] }
      ]
    },
    {
      "apiVersion": "rbac.authorization.k8s.io/v1", "kind": "RoleBinding",
      "metadata": { "name": "traefik", "namespace": {{NAMESPACE}} },
      "roleRef": { "apiGroup": "rbac.authorization.k8s.io", "kind": "Role", "name": "traefik" },
      "subjects": [{ "kind": "ServiceAccount", "name": "traefik", "namespace": {{NAMESPACE}} }]
    },
    {
      "apiVersion": "rbac.authorization.k8s.io/v1", "kind": "ClusterRole",
      "metadata": { "name": {{CLUSTER_ROLE}} },
      "rules": [
        { "apiGroups": ["networking.k8s.io"], "resources": ["ingressclasses"], "verbs": ["get", "list", "watch"] },
        { "apiGroups": [""], "resources": ["nodes"], "verbs": ["get", "list", "watch"] }
      ]
    },
    {
      "apiVersion": "rbac.authorization.k8s.io/v1", "kind": "ClusterRoleBinding",
      "metadata": { "name": {{CLUSTER_ROLE}} },
      "roleRef": { "apiGroup": "rbac.authorization.k8s.io", "kind": "ClusterRole", "name": {{CLUSTER_ROLE}} },
      "subjects": [{ "kind": "ServiceAccount", "name": "traefik", "namespace": {{NAMESPACE}} }]
    },
    {
      "apiVersion": "networking.k8s.io/v1", "kind": "IngressClass",
      "metadata": { "name": {{CLASS_NAME}} },
      "spec": { "controller": "traefik.io/ingress-controller" }
    },
    {
      "apiVersion": "v1", "kind": "ConfigMap",
      "metadata": { "name": "traefik-config", "namespace": {{NAMESPACE}} },
      "data": {{CONFIG}}
    },
    {
      "apiVersion": "apps/v1", "kind": "Deployment",
      "metadata": { "name": "traefik", "namespace": {{NAMESPACE}} },
      "spec": {{DEPLOYMENT_SPEC}}
    },
    {
      "apiVersion": "v1", "kind": "Service",
      "metadata": { "name": "traefik", "namespace": {{NAMESPACE}} },
      "spec": {{SERVICE_SPEC}}
    }
  ]
}
